
<ul>
  {{#each burgers}}
      {{#unless devoured}}
    <li>
  	   <p>burger_name: {{this.burger_name}}</p>
       <p>devoured: {{this.devoured}}</p>
       <button data-id="{{this.id}}" class="devour">Devour Burger</button>
  	</li>
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
      {{#if devoured}}
    <li>
  	   <p>burger_name: {{this.burger_name}}</p>
       <p>devoured: {{this.devoured}}</p>
  	</li>
    {{/if}}
  {{/each}}
</ul>


<div class='row mt-1'>
    <div id = 'burgerForm' class=' col-10 mx-auto text-center'>
        <h3>Add A New Burger!</h3>
        <hr>
        <div id='createBurger'>
            <form action="/" method="POST">
                <textarea id="addBurger" type="text" name="addBurger" cols='50'></textarea>
                <div class = 'pb-2'>
                <button class ='btn btn-outline-dark btn-lg addBurger' type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
